@import url('https://fonts.cdnfonts.com/css/inter');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

.sf {
  font-family: 'SF Pro Display', sans-serif;
}

* {
  font-family: 'Inter', sans-serif;
  user-select: none;
}


/* Carousel styles */
.embla {
  overflow: hidden;
  width: 100%;
  height: fit-content;
}
.embla__container {
  display: flex;
}
.embla__slide {
  width: 64px;
}


/* Main bg transition */
main {
  transition: background-image 0.6s ease-in-out;
}


/* Custom scrollbar */

.custom-scroll::-webkit-scrollbar {
  height: 3px;
  width: 2px;
  transition: opacity 0.3s;
  display: flex;
  opacity: 0;
  margin-right: -16px;
  position: absolute;
}

.custom-scroll:hover::-webkit-scrollbar {
  opacity: 1;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-clip: content-box;
}
